@import url(//fonts.googleapis.com/css?family=Roboto);

/* 
outline: 7px solid rgba(255,255,255,0);
transition: outline .5s ease-out;
position: relative; /* outline */
    
html {
	background: #000 url(pics/wallpaper.jpg) no-repeat fixed center center;
	background-size: cover;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 15px #111;
}
img {
    border:none;
}
h1 {
  color: #eee;
  font-weight:normal;
}
.menu {
    width: 800px;
    height: 80px;
    margin-top:20px;
    margin-left:auto;
	margin-right:auto;
}
.container {
    padding: 1em 3em;
	width: 800px;
	min-height: 600px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
	border-radius: 2px;
	border: 1px solid #000000;
	border: 1px solid rgba(0,0,0,.3);
	background: rgba(0,0,0,.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
}
.headerblue {
    margin-left:auto;
	margin-right:auto;
	border-bottom: solid 5px #00c0e4;
}
.headermint {
    margin-left:auto;
	margin-right:auto;
	border-bottom: solid 5px #2ecc71;
}
.headerpurple {
    margin-left:auto;
	margin-right:auto;
	border-bottom: solid 5px #7658f8;
}
.headeryellow {
    margin-left:auto;
	margin-right:auto;
	border-bottom: solid 5px #eac14d;
}
.headerred {
    margin-left:auto;
	margin-right:auto;
	border-bottom: solid 5px #e6567a;
}
.headerblue h1, .headermint h1, .headerpurple h1, .headeryellow h1, .headerred h1 {
    margin-bottom: 5px;
}
.subcontent {
    min-height: 470px;
}
.nostyle {
    list-style:none;
}
.footer {
    font-size: 14px;
    text-align:center;
}
.tile {
    width: 80px;
	height: 80px;
	text-align: center;
	float: left;
}
.tile > a {
	width: inherit;
	height: inherit;
	display: block;
	color: #fff;
	text-decoration: none !important;
}
.active {
    border-bottom:solid 5px #FFFFFF;
}
.blue { 
    background-color: #00c0e4; 
    margin-left:200px;
}
.mint { 
    background-color: #2ecc71; 
}
.purple { 
    background-color: #7658f8; 
}
.yellow { 
    background-color: #eac14d; 
}
.red { 
    background-color: #e6567a; 
}
.icon {
	max-width:40px;
    max-height:40px;
    width:auto;
    height:auto;
    margin-top:20px;
    
}
.title {
	display: block;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}